* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    font-size: 3em;
    color: white;
}

main {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #71717a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .add {
    background-color: #0f172a;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 24px;
    padding: 26px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

main button:hover {
    opacity: 0.8;
    border: 1px solid white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 1400px;
    margin: 0 auto;
    gap: 12px;
    overflow: auto;
}

.card {
    background-color: white;
    margin: 24px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90%;
    gap: 8px;
}

.card img {
    max-height: 250px;
    margin-bottom: 12px;
}

.card h2 {
    text-align: center;
    font-size: 2em;
}

.card p:nth-of-type(1) {
    font-size: 1.5em;
    font-style: italic;
}

.card-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.card-buttons button{
    text-align: center;
    width: 50%;
    padding: 12px;
}

.card-buttons button.read {
    border: 1px solid black;
    background-color: lightgreen;
}

.form-container {
    position: absolute;
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0.9);
    display: none;
}

.form-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    width: 30%;
    height: 60%;
    padding: 36px;
    border-radius: 12px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 18px;
}

.form-container h2 {
    font-size: 3em;
    text-align: center;
    grid-column: span 2;
}

.form-container .submit {
    background-color: #0f172a;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid black;
}